<ion-view title="" id="page9" style="background-color:#3f3d42;">
    <ion-content padding="true" scroll="false" class="has-header">
      <h1 id="configuration-heading7" align="middle" style="color:#FFFFFF;">Connect to lamp</h1>
      <div id="configuration-markdown7" align="middle" style="color:#FFFFFF;">
          <p>First press the Button and within 30 sec the Button on the lamp-device</p>
          <button id="configuration-button1" align="middle" style=" background-color:#fce4ac" class="button">Start Conncet</button>
          <!-- button button-positive -->

      </div>





    </ion-content>
</ion-view>
