<ion-view title="Departure alarm VRN" id="page6" style="background-color:#414042;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h1 id="departureAlarmVRN-heading13" style="color:#FFFFFF;font-family:Lato;">VRN Station</h1>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <h1 id="departureAlarmVRN-heading14" style="color:#FFFFFF;font-family:Lato;">Distance Station</h1>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>
