<ion-view title="" id="page2" style="background-color:#414042;">

<!-- #414042;-->

    <ion-content padding="true" class="has-header positive"  align="middle">
<p style="margin-bottom: 90px"> </p>
<img src="img/logo.gif" align="middle" style="width:240px;" >

        <p style="margin-bottom: 120px"> </p>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Spotlight</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Wake up Time 8 AM</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Departure Time VRN 9 AM</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Light Music</ion-toggle>
        </form>
    </ion-content>
</ion-view>
<!-- style="color:blue;font-family:Arial;font-size:10px;" -->
