<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading3" style="color:#000000;text-align:center;">Start</h1>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Spotlight</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Wake up Time 8 AM</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Departure Time VRN 9 AM</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Light Music</ion-toggle>
        </form>
    </ion-content>
</ion-view>