<ion-view title="" id="page2" style="background-color:#3f3d42;">
  <ion-nav-bar class="bar-positive" ng-style="{'background-color': viewColor}" >
       <ion-nav-back-button> </ion-nav-back-button>
       <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
        </ion-nav-buttons>
    </ion-nav-bar>
<!-- #414042;-->

    <ion-content padding="true" class="has-header" align="middle">
<p style="margin-bottom: 90px"> </p>
<img src="img/logo.gif" align="middle" style="width:240px;" >

        <p style="margin-bottom: 120px"> </p>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Spotlight</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Wake up Time 14:55</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Departure Time VRN 9:00</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Light Music</ion-toggle>
        </form>
    </ion-content>
</ion-view>
<!-- style="color:blue;font-family:Arial;font-size:10px;" -->
