<ion-view title="Light Music" id="page7" style="background-color:#3f3d42;">
  <ion-nav-bar class="bar-positive" ng-style="{'background-color': viewColor}" >
       <ion-nav-back-button> </ion-nav-back-button>
       <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Google Music</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;">Apple Music</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" style="background-color:#616161;color:#FFFFFF;font-family:Lato;" ng-checked="true">Spoitify</ion-toggle>
        </form>
        <h1 id="lightMusic-heading11" style="color:#FFFFFF;font-family:Lato;">Login Spotify</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Login Name</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>
