<ion-side-menus enable-menu-with-back-views="false" style="background-color:#414042;">
  <ion-nav-bar class="bar-positive" ng-style="{'background-color': viewColor}" >
       <ion-nav-back-button> </ion-nav-back-button>
       <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-side-menu-content drag-content="false" >
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" >
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.wakeUpAlarm" menu-close="">Wake up alarm</ion-item>
                <ion-item ui-sref="menu.departureAlarmVRN" menu-close="">Departure alarm VRN</ion-item>
                <ion-item ui-sref="menu.lightMusic" menu-close="">Music lights</ion-item>
                <ion-item ui-sref="menu.configuration" menu-close="">Configuration</ion-item>
                <ion-item ui-sref="menu.connectToLamp" menu-close="">Connect to lamp</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
