<ion-view title="Position Lamps" id="page10" style="background-color:#414042;">
    <ion-content padding="true" class="has-header">

        <h1 id="configuration-heading7" align="middle" style="color:#FFFFFF;">2. Calibrate user position</h1>
        <div id="configuration-markdown7" align="middle" style="color:#FFFFFF;">
          <button id="configuration-button4" align="middle" style=" background-color:#fce4ac" class="button">Get my possition</button>

            </p>
        </div>
    </ion-content>
</ion-view>
