<ion-view title="Wake up alarm" id="page5" style="background-color:#3f3d42;">
  <ion-nav-bar class="bar-positive" ng-style="{'background-color': viewColor}" >
       <ion-nav-back-button> </ion-nav-back-button>
       <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="true" align="middle" class="has-header">
      <h1 id="wakeUpAlarm-heading8" align="middle" style="color:#FFFFFF;">Actual wake up time: </h1>
  <h1 align="middle" style="color:#FFFFFF;">{{ selectedTime.getUTCHours() }} : {{ selectedTime.getUTCMinutes() }} </h1>

      <button align="middle" style=" background-color:#fce4ac" class="button" ng-click="opentimer()"> Set my time</button>
    </ion-content>
</ion-view>
