<ion-view title="Wake up alarm" id="page5" style="background-color:#3f3d42;">
    <ion-content padding="true" class="has-header">
        <h1 id="wakeUpAlarm-heading8" style="color:#000000;">Set wake up time</h1>
        <form class="list">
            <h1 id="wakeUpAlarm-heading9" style="color:#000000;">Hour</h1>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
        <h1 id="wakeUpAlarm-heading10" style="color:#000000;">Minute</h1>
        <form class="list">
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>
